{% extends "base.html.twig" %}


        
        {% block title %}Mon tableau de chasse{% endblock %}
        

        {% block body %}
        <h1>Your lucky number is {{ number }}</h1>
        <h2>Now Fred, you'd better move up your ass and work hard!</h2>
        {% endblock %}


